name: Build Docker Images
on:
  workflow_dispatch:
  push:
    branches: [main, dev]
permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      
      # Docker Hub (optional)
      - uses: docker/login-action@v3
        if: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # GHCR (immer)
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            sirus1985/free-games-claimer-with-mi-points:latest
            sirus1985/free-games-claimer-with-mi-points:${{ github.ref_name }}
            ghcr.io/sirus1985/free-games-claimer-with-mi-points:latest
            ghcr.io/sirus1985/free-games-claimer-with-mi-points:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
